{% extends "base.html" %}

{% block content %}

<div class="container" ng-controller="CustomerController">
  <h1>History</h1>

  <form>
    <label>Customer ID</label>
    <input type="text" class="form-control" ng-model="customer.id"/>
    <button ng-click="getPurchaseHistory()" class="btn btn-default">Search</button> 
  </form>
  <pre>{{ customer }}</pre>


  <table class="table table-hover">
    <thead>
      <tr>
        <td>Purchase ID</td>
        <td>Amount</td>
        <td>Date</td>
      </tr> 
    </thead>
    <tbody>
      <!-- NGREPEAT -->
      <tr>
        <td>1</td>
        <td>$5.00</td>
        <td>2014-3-9</td>
      </tr> 
    </tbody>
  </table>
</div>

{% endblock %}
