{% extends "base.html" %}

{% block content %}
{% raw %}
<div ng-controller="LoginController">
    <div class="row">
        <div class="span4 offset5 well">
            <legend>Login</legend>
            <form accept-charset="UTF-8" action="" method="post">
                <input class="span4" name="username" placeholder="Username" type="text">
                <input class="span4" name="password" placeholder="Password" type="password"> 
                <button class="btn btn-success" type="submit">Enter!</button>
            </form>
        </div>
    </div>
</div>
{% endraw %}
{% endblock%}