<!doctype html>
<html lang="en" ng-app="paymentsApp">
<head>
  <meta charset="utf-8">
  <title>My AngularJS App</title>
  <link rel="stylesheet" href="css/app.css"/>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>
  <div ng-view="menu"></div>
  <ul class="menu">
    <li><a href="index.html">Home</a></li>
    <li><a href="payments_list.html">Payment history</a></li>
    <li><a href="payments_new.html">New payment</a></li>
  </ul>

 Payment List
 <!-- Inserir um NG-repeat aqui com a lista de pagamento. -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-stripe.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>